<table width='600px' cellpadding='0' cellspacing='0'>
    <tr><td style="background-color:rgb(0, 125, 0);"><img src='cid:logo' width="100px" style="margin-left:250px;"/></td></tr>
    
    <tr><td bgcolor='#ffffff'  bordercolor='#eeeeee'>
        <div style="
            text-decoration:none;
            font-family:Segoe UI,Tahoma,Verdana,Arial,sans-serif;
            border:1px solid #eeeeee;
            padding:20px 10px
        ">
            <div style="
                border:1px solid #e3e3e3; 
                padding-left:20px;
                display:flex;
                color:black;
            ">
                <div style="margin-right:25%;">
                    <p>Nama</p>
                    <p>Waktu Transaksi</p>
                    <p>Nominal</p>
                    <p>Metode Pembayaran</p>
                    <p>Nomer Tujuan</p>
                </div>
                <div>
                    <p>: %nama%</p>
                    <p>: %tanggal%</p>
                    <p>: Rp.%jumlah%</p>
                    <p>: %metode%</p>
                    <p>: %metode_ket%</p>
                </div>
            </div>
            <br>
            <p style="margin-left:20%;">Kirim Bukti Transfer ke link/tombol dibawah ini.</p>
            <a href="%link%" style="
                margin-left:25%;
                width:50%; 
                text-align: center; 
                padding-top:15px; 
                padding-bottom:15px; 
                display:block; 
                background-color: #146c43; 
                color:white;
            ">Konfirmasi</a>
        </div>
    </td></tr>
</table>